<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container" style="margin-top:30px">
        <h1>Timestamp Microservice - A Free Code Camp API Project</h1>
        <hr>
        <div class="row">
            <p class="lead">
                <span class="font-weight-bold">User Story:</span> I can pass a string as a parameter, and it will check to see whether that string contains
                either a unix timestamp or a natural language date (example: January 1, 2016).</p>
            <p class="lead">
                <span class="font-weight-bold">User Story:</span> If it does, it returns both the Unix timestamp and the natural language form of that date.</p>
            <p class="lead">
                <span class="font-weight-bold">User Story:</span> If it does not contain a date or Unix timestamp, it returns null for those properties.</p>
        </div>
        <div class="row">
        <h3>Example usage: </h3>
        <code>https://timestamp-microservice-a.glitch.me/December%2015,%202015</code>
        <hr>
        <code>https://timestamp-microservice-a.glitch.me//1450130400</code>
        <h3>Example output:</h3>
        <code>{unix: "1450130400",natural: "December 15, 2015"}</code>
      </div>
          <h4>Coded by <a target="_blank" href="https://github.com/galnir">Nir Gal</a></h4>
    </div>
</body>
</html>